body {
  background-color: #eaeaea !important;
}

.ui.fixed.menu {
  background: rgb(4, 32, 43) !important;
  background: linear-gradient(
    90deg,
    rgba(4, 32, 43, 1) 0%,
    rgba(19, 144, 149, 1) 35%,
    rgba(9, 93, 136, 1) 100%
  ) !important;
}
.ui.main.container {
  margin-top: 7em;
}
